.wrapper {
  max-width: 250px;
  background-color: var(--bacground-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
  align-items: center;
  padding: 10px;

  cursor: pointer;
  &:hover {
    .cover {
      transform: scale(1.05);
    }
  }
}

.cover {
  width: 128px;
  height: 192px;
  object-fit: cover;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  align-items: start;
  align-self: flex-start;
}

.authorsList {
  list-style: none;
}
